{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="ipad-mt d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row mens-bg-color">
    <div class="px-0">
        <img src="/media/mens-bikes.jpg" class="hero-images" alt="Mens Bikes"> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row ">
        <div class="m-4">
            <h2>Mens Bikes</h2>
            <a href="{% url 'products' %}?category=mens_bikes" class="shop-now-button btn btn-ls text-uppercase mt-2">Enter the shop <i class="fas fa-sign-in-alt"></i></a>
            <h4 class="pt-4">Mens Bikes at The Bike Shop for beginnings to professionals.</h4>
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row-reverse womens-bg-color">
    <div class="px-0">
        <img src="/media/womens-bikes.jpg" class="hero-images" alt="Womens Bikes"> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row">
        <div class="m-4">
            <h2>Women's Bikes</h2>
            <a href="{% url 'products' %}?category=womens_bikes" class="shop-now-button btn btn-ls text-uppercase mt-2">Enter the shop <i class="fas fa-sign-in-alt"></i></a>
            <h4 class="pt-4">Women's Bikes at The Bike Shop for beginnings to professionals.</h4>
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row carousel-bg-color py-4">
    <div class="col-lg-4 col-md-4 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row">
        <div class="m-2">
            <h2 class="text-black">Products</h2>
            <ul class="homepage-list">
                <li class="py-2"><a href="{% url 'products' %}?category=mens_bikes" class="text-uppercase remove-underline products-color mens-color">Mens Bikes</a></li>
                <li class="py-2"><a href="{% url 'products' %}?category=womens_bikes" class="text-uppercase remove-underline products-color womens-color">Womens Bikes</a></li>
                <li class="py-2"><a href="{% url 'products' %}?category=urban_bikes" class="text-uppercase remove-underline products-color urban-color">Urban Bikes</a></li>
                <li class="py-2"><a href="{% url 'products' %}?category=accessories" class="text-uppercase remove-underline products-color accessories-color">Accessories</a></li>
            </ul>
        </div>
    </div>
    <div class="px-0 my-4 top-content">
        <div id="carouselExampleIndicators" class="carousel slide hero-images" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
            </ol>
            <div class="carousel-inner">
                <a class="carousel-item active" href="{% url 'products' %}?category=mens_bikes">
                    <img src="/media/34.jpg" class="d-block w-100 hero-images px-2 px-lg-0 py-4 py-md-5 py-lg-4" alt="First slide">
                </a>
                <a class="carousel-item" href="{% url 'products' %}?category=other_accessories">
                    <img src="/media/49.jpg" class="d-block w-100 hero-images px-2 px-lg-0 py-4 py-md-5 py-lg-4" alt="Second slide">
                </a>
                <a class="carousel-item" href="{% url 'products' %}?category=helmets"> 
                    <img src="/media/41.jpg" class="d-block w-100 hero-images px-2 px-lg-0 py-4 py-md-5 py-lg-4" alt="Third slide">
                </a>
                <a class="carousel-item" href="{% url 'products' %}?category=urban_bikes">
                    <img src="/media/16.jpg" class="d-block w-100 hero-images px-2 px-lg-0 py-4 py-md-5 py-lg-4" alt="Fourth slide">
                </a>
                <a class="carousel-item" href="{% url 'products' %}?category=other_accessories">
                    <img src="/media/50.jpg" class="d-block w-100 hero-images px-2 px-lg-0 py-4 py-md-5 py-lg-4" alt="Fifth slide">
                </a>
                <a class="carousel-item" href="{% url 'products' %}?category=womens_bikes">
                    <img src="/media/10.jpg" class="d-block w-100 hero-images px-2 px-lg-0 py-4 py-md-5 py-lg-4" alt="Sixth slide">
                </a>
                <a class="carousel-item" href="{% url 'products' %}?category=mens_bikes">
                    <img src="/media/11.jpg" class="d-block w-100 hero-images px-2 px-lg-0 py-4 py-md-5 py-lg-4" alt="Seventh slide">
                </a>
                <a class="carousel-item" href="{% url 'products' %}?category=helmets">
                    <img src="/media/39.jpg" class="d-block w-100 hero-images px-2 px-lg-0 py-4 py-md-5 py-lg-4" alt="Eigth slide">
                </a>
                <a class="carousel-item" href="{% url 'products' %}?category=mens_bikes">
                    <img src="/media/35.jpg" class="d-block w-100 hero-images px-2 px-lg-0 py-4 py-md-5 py-lg-4" alt="Ninth slide">
                </a>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row ">
        <div class="m-2">
            <h2 class="text-black">Services</h2>
            <ul class="homepage-list">
                <li class="py-2"><a href="{% url 'services' %}4" class="text-uppercase remove-underline services-color">Cleaning Service</a></li>
                <li class="py-2"><a href="{% url 'services' %}5" class="text-uppercase remove-underline services-color">Maintenace</a></li>
                <li class="py-2"><a href="{% url 'services' %}6" class="text-uppercase remove-underline services-color">Sell Your Bike</a></li>
                <li class="py-2"><a href="{% url 'services' %}" class="text-uppercase remove-underline services-color">All Services</a></li>
                
            </ul>
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row urban-bg-color">
    <div class="px-0">
        <img src="/media/urban-bikes.jpg" class="hero-images" alt="Urban Bikes"> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row ">
        <div class="m-4">
            <h2>Urban Bikes</h2>
            <a href="{% url 'products' %}?category=urban_bikes" class="shop-now-button btn btn-ls text-uppercase mt-2">Enter the shop <i class="fas fa-sign-in-alt"></i></a>
            <h4 class="pt-4">Urbans Bikes at The Bike Shop for beginnings to professionals.</h4>
        </div>
    </div>
</div>
<div class="pb-1 pb-md-0 d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row-reverse accessories-bg-color">
    <div class="px-0">
        <img src="/media/accessories.jpg" class="hero-images" alt="Biking Accessories"> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row">
        <div class="m-4">
            <h2>Accessories</h2>
            <a href="{% url 'products' %}?category=other_accessories" class="shop-now-button btn btn-ls text-uppercase mt-2">Enter the shop <i class="fas fa-sign-in-alt"></i></a>
            <h4 class="pt-4 homepage-text">Bike Accessories at The Bike Shop for beginnings to professionals.</h4>
        </div>
    </div>
</div>
<div class="padding-bottom-homepage"></div>
{% endblock %}