{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}



<div class="d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row mens-bg-color">
    <div class="px-0">
        <img src="/media/mens-bikes.jpeg" class="hero-images" alt=""> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row ">
        <div class="m-4">
            <h2>Mens Bikes</h2>
            <a href="{% url 'products' %}?category=mens_bikes" class="shop-now-button btn btn-ls text-uppercase mt-2">Shop Now</a>
            <h4 class="pt-4">Mens Bikes at The Bike Shop for beginnings to professionals.</h4>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row-reverse womens-bg-color">
    <div class="px-0">
        <img src="/media/womens-bikes.jpeg" class="hero-images" alt=""> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row">
        <div class="m-4">
            <h2>Women's Bikes</h2>
            <a href="{% url 'products' %}?category=womens_bikes" class="shop-now-button btn btn-ls text-uppercase mt-2">Shop Now</a>
            <h4 class="pt-4">Women's Bikes at The Bike Shop for beginnings to professionals.</h4>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row urban-bg-color">
    <div class="px-0">
        <img src="/media/urban-bikes.jpeg" class="hero-images" alt=""> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row ">
        <div class="m-4">
            <h2>Urban Bikes</h2>
            <a href="{% url 'products' %}?category=urban_bikes" class="shop-now-button btn btn-ls text-uppercase mt-2">Shop Now</a>
            <h4 class="pt-4">Urbans Bikes at The Bike Shop for beginnings to professionals.</h4>
        </div>
    </div>
</div>

<div class="d-flex align-items-center justify-content-center justify-content-evenly flex-column flex-md-row-reverse accessories-bg-color">
    <div class="px-0">
        <img src="/media/hero-image-test.jpeg" class="hero-images" alt=""> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center flex-column flex-lg-row">
        <div class="m-4">
            <h2>Accessories</h2>
            <a href="{% url 'products' %}?category=other_accessories" class="shop-now-button btn btn-ls text-uppercase mt-2">Shop Now</a>
            <h4 class="pt-4">Bike Accessories at The Bike Shop for beginnings to professionals.</h4>
        </div>
    </div>
</div>

<div class="padding-bottom-homepage"></div>
 
{% endblock %}