{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col col-md-12 text-center">
                <h1 class="main-header">Welcome to The <em>Bike</em> Shop</h1>
            </div>
            <div class="col col-md-12 text-center">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-1 text-uppercase">enter the shop</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}