/* Fonts chosen using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    height: 100%;
}

 /* Homepage */

body {
    background-color: #D6D0CE;
    font-family: 'Ubuntu';
    color: #131418;
}

.hero-images {
    width: 100%;
    height: auto;
  }


.mens-bg-color {
    /* background-color: #387c96; */
    background-color: #4286d2;
}

.womens-bg-color {
    background-color: #c96ec1;
}

.urban-bg-color {
    /* background-color: #5c5d5a; */
    background-color: #968a7c;
}

.accessories-bg-color {
    /* background-color: #cfb00a; */
    background-color: #deb506;
}



/* body {
    background: url('/media/hero-image-test.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: #131418;
    font-family: 'Ubuntu';
} */

.logo-font {
    text-transform: uppercase;
    font-family: 'Russo One';
}

.logo-font span {
    color: #852C34;
}

.remove-underline {
    text-decoration: none !important;
}

.logo-font span:hover {
    color: #852C34;
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Russo One';
}

.sub-header {
    text-transform: uppercase;
    font-family: 'Russo One';
    color: #852C34;
    margin-top: 1rem;
}

/* Rounded Pill */

/* .homepage-content {
    text-transform: uppercase;
    font-family: 'Russo One';
    background-color: rgba(19, 20, 24, 0.7);
    font-size: 24px;
    color: #D6D0CE;
    min-width: 260px;
    border-color: #131418;
    border-width: thick;
    margin: 0 120px;
    padding: 8px 0 2px 0;
} */

.main-logo-link {
    width: fit-content;
}

/* Margin and Padding */

.padding-bottom {
    padding-bottom: 20%;
}

.padding-bottom-homepage {
    padding-bottom: 12%;
}

.border-1 {
    padding: 20px;
}

/* Buttons */

.btn-black {
    background: #131418;
    color: #D6D0CE;
}

.shop-now-button {
    background: #852C34;
    color: #D6D0CE;
    min-width: 260px;
    border-color: #131418;
    border-width: thick;
    font-weight: bold;
    font-size: 18px;
}

.shop-now-cart-button {
    background: #852C34;
    color: #D6D0CE;
    min-width: 260px;
    border-color: #131418;
    border-width: thick;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2%;
}

.checkout-cart-button {
    background: #852C34;
    color: #D6D0CE;
    min-width: 260px;
    border-color: #131418;
    border-width: thick;
    font-weight: bold;
    font-size: 18px;
}

.book-now-button {
    background: #852C34;
    color: #D6D0CE;
    min-width: 260px;
    border-color: #131418;
    border-width: thick;
    font-weight: bold;
    font-size: 18px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.book-now-button:hover,
.book-now-button:active,
.book-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.shop-now-cart-button:hover,
.shop-now-cart-button:active,
.shop-now-cart-button:focus,
.checkout-cart-button:hover,
.checkout-cart-button:focus,
.checkout-cart-button:active {
    color: #fadf4b;
    background-color: #131418;
    border-color: #852C34;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    right: 15px;
    bottom: 100px;
    background-color: #852C34;
    color: #D6D0CE;
}

.btt-button:hover {
    background-color: #131418;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Colours */

.background-navbar {
    background-color: #D6D0CE;
}

em {
    color: #852C34;
}

.category {
    color: #A57472;
}

.category:hover {
    color: #852C34;
    text-decoration: none;
}

em:hover,
em:active,
em:focus,
.fa-biking:hover,
.fa-biking:active,
.fa-biking:focus {
    color: #fadf4b;
}

.social-media-icons:hover,
.social-media-icons:active,
.social-media-icons:focus {
    color: #852C34;
}

.text-black {
    color: #131418 !important;
}

.border-black {
    border: 1px solid #131418 !important;
}

.banner {
    color: #D6D0CE;
    background-color: #131418;
}

.border-1 {
    color: red;
}

.btn-qty {
    background-color: #852C34;
    color: #D6D0CE;
}

.btn-qty:hover {
    background-color: #131418;
    color: #fadf4b;
}

.yellow-bike {
    color: #fadf4b !important;
}

.yellow-bike:hover {
    color: #852C34 !important;
}

.red-bike {
    color: #852C34 !important;
}

.red-bike:hover {
    color: #fadf4b !important;
}

/* Shopping cart */
p.total, .fa-shopping-cart {
    color:#852C34 !important;
}

p.total:hover {
    color: #757273 !important;
}

.fa-shopping-cart:hover {
    color: #757273 !important;
}

a.update-link,
a.remove-item {
    color: #131418;
}

a.update-link:hover,
a.remove-item:hover {
    color: #852C34;
}

/* Font sizes */

.service-header,
.product-header {
    font-size: 24px;
}

.cart-empty {
    font-size: 18px;
}

.fa-frown {
    font-size: 28px;
}

.adjust-cart {
    font-size: 20px;
}

/* Templates */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge {
    background: #131418 !important;
    color: #D6D0CE !important;
    border-color: #131418;
    border-width: thick;
    font-weight: bold;
}

a.category-badge > span.badge:hover {
    background: #852C34 !important;
    color: #fadf4b !important;
}

/*  footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D6D0CE;
    color: #131418;
  }

.social-media-icons {
    color: #131418;
}

.unordered-list-footer {
    display: inline;
}

.social-media-icons {
    font-size: 18px
}

footer {
    z-index: 2;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-subheader {
    color: #852C34;
}

.checkout-cart-button-toast {
    background: #852C34;
    color: #D6D0CE;
    border-color: #131418;
    font-weight: bold;
    border-width: medium;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 15%;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #757273; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #131418;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #D6D0CE;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #131418;
    border: 1px solid #131418;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fadf4b;
    background-color: #131418;
    border-color: #131418;
}

.allauth-form-inner-content a {
	color: #852C34; /* text-info */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 130px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* margin on top for both buttons to create white space */
@media (max-width: 992px) {
    .book-now-button {
        margin-top: 10%;
    }
}

@media (max-width: 992px) {
    .book-now-button {
        margin-top: 5%;
    }

    /* .padding-bottom {
        padding-bottom: 20%;
    } */
}

@media (max-width: 576px) {
    /* .shop-now-button {
        margin-top: 20%;
    } */

    /* .padding-bottom {
        padding-bottom: 30%;
    } */

    .book-now-button {
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .btt-button {
        right: 5px;
        bottom: 85px;
    }

    .header-container {
        padding-top: 95px;
    }

    .homepage-text {
        padding-bottom: 30px;
    }
}

@media (max-width: 375px) {
    .btt-button {
        right: 2px;
        bottom: 85px;
    }

    .header-container {
        padding-top: 80px;
    }
}

/* Logo size adjusted for tablet size */

@media (max-width: 1100px) {
    .logo-font-size {
        font-size: 28px;
    }
}

/* Mobile navbar with icons resized */

@media (max-width: 576px) {

    ul {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .navbar-size {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    .navbar-size {
        font-size: 11px;
    }

    h4.logo-font.banner {
        font-size: 22px;
    }
}

@media (max-width: 410px) {
    .navbar-size {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    button.navbar-toggler {
        font-size: 14px;
    }

    h4.logo-font.banner {
        font-size: 20px;
    }
    .navbar-size {
        font-size: 9px;
    }
}

@media (max-width: 370px) {
    .navbar-size {
        font-size: 8px;
    }
    h4.logo-font.banner {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .navbar-size {
        font-size: 7px;
    }
    h4.logo-font.banner {
        font-size: 16px;
    }
}

@media (max-width: 330px) {
    .navbar-size {
        font-size: 6px;
    }
    h4.logo-font.banner {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .navbar-size {
        font-size: 5px;
    }
    h4.logo-font.banner {
        font-size: 16px;
    }
}

/* @media (max-width: 576px) {
    .sub-header {
        margin-top: 0;
    }
} */

/* Footer mobile padding */

/* @media (max-width: 475px) {
    footer {
        margin-top: 100px
    }
} */

/* .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
} */

/* footer {
    padding-top: 5%;
} */