{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mt-3">
        <div class="row ipad-mt">
            <div class="col text-center mt-3">
                <h2 class="sub-header mb-4">Complete Booking</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                {% for service in book_service %}
                <form class="form" action="{% url 'complete' %}" method="POST" id="booking-form">
                    <!-- Django cross-site fraud protection which is required for the form to be submitted -->
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-1">
                        <legend class="fieldset-label small text-black px-2 w-auto h4 pb-3">Complete Booking - {{ service.service.name }}</legend>
                        {% for field in booking_form %}
                            {{ field | as_crispy_field }}
                        {% endfor %}
                    </fieldset>
                    <div class="pb-sm-4">
                        <button id="submit-booking" type="submit" class="book-now-button btn btn-ls rounded-0 text-uppercase">Book</button>
                    </div>
                    <div>
                        <a href="{% url 'services' %}" class="btn rounded-0">
                            <span class="icon icon-red">
                                <i class="far fa-arrow-alt-circle-left"></i>
                            </span>
                            <span class="text-uppercase text-black">Go Back</span>
                        </a>
                    </div>
                </form>
                {% endfor %}
                <div class="padding-bottom"></div>
            </div>
        </div>
    </div>
{% endblock %}