<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown mr-3">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 background-navbar" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown mr-3">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="bikes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Bikes
            </a>
            <div class="dropdown-menu border-0 background-navbar" aria-labelledby="bikes-link">
                <a href="{% url 'products' %}?category=mens_bikes" class="dropdown-item">Mens Bikes</a>
                <a href="{% url 'products' %}?category=womens_bikes" class="dropdown-item">Womens Bikes</a>
                <a href="{% url 'products' %}?category=urban_bikes" class="dropdown-item">Urban Bikes</a>
                <a href="{% url 'products' %}?category=mens_bikes,womens_bikes,urban_bikes" class="dropdown-item">All Bikes</a>
            </div>
        </li>

        <li class="nav-item dropdown mr-3">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0 background-navbar" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=helmets" class="dropdown-item">Helmets</a>
                <a href="{% url 'products' %}?category=other_accessories" class="dropdown-item">Other Accessories</a>
                <a href="{% url 'products' %}?category=helmets,other_accessories" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown mr-3">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu border-0 background-navbar" aria-labelledby="all-services-link">
                <a href="{% url 'services' %}4" class="dropdown-item">Cleaning</a>
                <a href="{% url 'services' %}5" class="dropdown-item">Repair</a>
                <a href="{% url 'services' %}6" class="dropdown-item">Sell Your Bike</a>
                <a href="{% url 'services' %}" class="dropdown-item">All Services</a>
            </div>
        </li>
    </ul>
</div>