<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 background-navbar" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bikes
            </a>
            <div class="dropdown-menu border-0 background-navbar" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Men's</a>
                <a href="" class="dropdown-item">Womens</a>
                <a href="" class="dropdown-item">Urban</a>
                <a href="" class="dropdown-item">All Bikes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0 background-navbar" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Helmets</a>
                <a href="" class="dropdown-item">Other Accessories</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu border-0 background-navbar" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Cleaning</a>
                <a href="" class="dropdown-item">Repair</a>
                <a href="" class="dropdown-item">Sell Your Bike</a>
                <a href="{% url 'services' %}" class="dropdown-item">All Services</a>
            </div>
        </li>
    </ul>
</div>