{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h2 class="sub-header text-center mb-5">{% trans "Sign Out" %}</h2>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn checkout-cart-button rounded-0">
    <span class="font-weight-bold text-uppercase">{% trans "Sign Out" %}</span>
    <span class="icon">
      <i class="fas fa-sign-out-alt"></i>
    </span>
  </button>
</form>


{% endblock %}
