{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block inner_content %}
<h2 class="sub-header text-center">{% trans "Logout" %}</h2>

<p class="text-center">{% trans 'Are you sure you want to logout?' %}</p>

<form method="post" action="{% url 'account_logout' %}" class="text-center">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn allauth-accounts-button rounded-0">
    <span class="font-weight-bold text-uppercase">{% trans "Logout" %}</span>
    <span class="icon">
      <i class="fas fa-sign-out-alt"></i>
    </span>
  </button>
  <div>
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg mt-2">
    <span class="icon">
      <i class="far fa-arrow-alt-circle-left"></i>
    </span>
      <span class="text-uppercase text-black">Keep Shopping</span>
    </a>
  </div>
</form>
{% endblock %}