{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="sub-header text-center">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="btn allauth-accounts-button rounded-0">
            <span class="font-weight-bold text-uppercase">{% trans "Change Password" %}</span>
            <span class="icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
        </button>
    </form>
{% endblock %}