{% load static %}

<!doctype html>
<html lang="en-US">
    <head>
    {% block meta %}
        <!-- Supports older Internet Explorer versions and eliminates validation errors when validating HTML-->
        <meta http-equiv="X-UA-Compatiable" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    <!-- Extra meta -->
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">     
        <!-- Internal css file -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <!-- Extra css -->
    {% block extra_css %}
    {% endblock %}

    <!-- Extra js -->
    {% block corejs %}
        <!-- Font Awesome, jQuery minified including Ajax post function, then Popper.js, Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js"></script>
        <!-- stripe JS -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block other %}
         <!-- Font Awesome and Head tab icon using https://gauger.io/fonticon/ -->
        <script src="https://kit.fontawesome.com/2776f2d29b.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/ico" href="/media/favicon.ico" />
    {% endblock %}

    <title>The Bike Shop {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top" x-data="{ open: false }">
            <div id="topnav"class="row background-navbar pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font logo-font-size text-black my-0">The <em>Bike</em> Shop <i class="fas fa-biking red-bike"></i></h2>
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100 background-navbar">
                            <input class="form-control border border-black rounded-0 text-black" type="text" name="q" placeholder="Search Products">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="far fa-user fa-lg"></i></div>
                                        <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0 background-navbar " aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                        <a href="{% url 'admin' %}" class="dropdown-item">Admin Panel</a>
                                    {% endif %}
                                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    {% else %}
                                        <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                                    <p class="my-0 total">
                                        {% if grand_total %}
                                            £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row background-navbar" @click="open = ! open">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon" x-show="! open"></span>
                        <span><i id="toggler-color" class="fas fa-times" x-show="open"></i></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
            <div class="row text-center">
                <div class="col banner text-center">
                    <a class="remove-underline" href="{% url 'home' %}">
                        <h4 class="logo-font banner pt-2">Welcome to The <em><span class="yellow-bike">Bike</span></em> Shop <i class="fas fa-biking yellow-bike"></i></h4>
                    </a>                  
                </div>   
            </div>
        </header>

        <!-- A place to display any messages that could be sent back from Django  -->
        {% if messages %}
            <div class="message-container">
                <!-- Django message levels used to show 'error', 'warning', 'success' and the default being 'info'  -->
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}   
            </div>
        {% endif %}

        <!-- Can add more to the header on other pages if required -->
        {% block page_header %}
        {% endblock %}
    
        <!-- For the main content to go across other pages -->
        {% block content %}
        {% endblock %}

        <!-- Can add javascript that can be loaded at the end of the body -->
        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}
    </body>
    <!-- Footer added -->
    <footer class="footer">
        <div class="row sub-header text-center">
            <div class="col text-center">
                <p class="unordered-list-footer pr-2">Find us on</p>
                <!-- social media icon external links -->
                <a id="facebook" class="social-media-icons pr-2" href="https://www.facebook.com/" aria-label="Find us on Facebook (opens in new tab)" target="_blank"><i class="fab fa-facebook"></i></a>
                <a id="instagram" class="social-media-icons pr-2" href="https://www.instagram.com/" aria-label="Find us on Instagram (opens in new tab)" target="_blank"><i class="fab fa-instagram"></i></a>
                <a id="twitter" class="social-media-icons pr-2" href="https://twitter.com/" aria-label="Find us on Twitter (opens in new tab)" target="_blank"><i class="fab fa-twitter"></i></a>
                <a id="spotify" class="social-media-icons pr-2" href="https://www.spotify.com" aria-label="Find us on Spotify (opens in new tab)" target="_blank"><i class="fab fa-spotify"></i></a>
                <a id="youtube" class="social-media-icons pr-2" href="https://www.youtube.com" aria-label="Find us on Youtube (opens in new tab)" target="_blank"><i class="fab fa-youtube"></i></a>
                <p class="text-black">© 2021 The Bike Shop</p>
            </div>
        </div>
    </footer>
</html>