{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid mt-3">
            <div class="row ipad-mt">
                <div class="col text-center mt-3">
                    <h2 class="sub-header">Your Booking</h2>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    {% if book_service %}
                        <div class="table-responsive rounded text-center">
                            {{ book_service }}
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 offset-lg-4 offset-md-3">
                            <div class="image-container my-5">
                                {% if book_service.image %}
                                <a href="{{ book_service.image.url }}" target="_blank">
                                    <img class="card-img-top img-fluid" src="{{ book_service.image.url }}" alt="{{ service.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ service.name }}">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <i class="far fa-frown text-black mb-2"></i>
                            <p class="text-black cart-empty">No service has been booked</p>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'services' %}" class="shop-now-cart-button btn btn-ls rounded-0 text-uppercase py-2">Book a Service</a>
                        </div>
                    {% endif %}
                </div>
            </div>
           
            <div class="padding-bottom"></div>
        </div>
{% endblock %}




