{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid mt-3">
        <div class="row ipad-mt">
            <div class="col text-center mt-3">
                <h2 class="sub-header">Your Booking Summary</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if book_service %}
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-2 offset-md-0">
                        <div class="image-container my-5">
                            {% if book_service.image %}
                            <a href="{{ book_service.image.url }}" target="_blank">
                                <img class="card-img-top img-fluid" src="{{ book_service.image.url }}" alt="{{ service.name }}">
                            </a>
                            {% else %}
                            <a href="{{ book_service.image.url }}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ service.name }}">
                            </a>
                            {% endif %}
                        </div>            
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 text-center">
                        <div class="product-details-container mb-5 mt-md-5 pt-5">
                            <p class="mb-0 font-weight-bold text-black service-header">{{ book_service }}</p>
                            {% if book_service.category %}
                            <p class="small mt-1 mb-0">
                                <a class="category" href="{% url 'services' %}?category={{ service.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ book_service.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                            {% if book_service.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ book_service.rating }} / 5.0</small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="product-container col">
                                <div class="row">
                                    <div class="col">
                                        <a href="{% url 'services' %}" class="btn rounded-0">
                                            <span class="icon icon-red">
                                                <i class="far fa-arrow-alt-circle-left"></i>
                                            </span>
                                            <span class="text-uppercase text-black">Go Back</span>
                                        </a>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">                            
                                        <h4 class="pb-4">
                                            <a href="{% url 'complete' %}" class="book-now-button btn btn-ls rounded-0 text-uppercase">Complete booking</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center">
                        <i class="far fa-frown text-black mb-2"></i>
                        <p class="text-black cart-empty">No service has been booked</p>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'services' %}" class="shop-now-cart-button btn btn-ls rounded-0 text-uppercase py-2">Book a Service</a>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="padding-bottom"></div>
    </div>
{% endblock %}