{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="sub-header">All Services</h2>
                    <hr class="w-75 mb-1">
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
{% endblock %}