{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row ipad-mt mt-4">
                <div class="col-12 order-md-first">
                    <div class="col text-center mt-3">
                        <h2 class=><p class="mb-0 font-weight-bold sub-header product-header">{{ service.name }}</p></h2>
                    </div>
                    <p class="text-muted mt-3 text-center">
                        <a class="category-badge text-decoration-none" href="{% url 'services' %}">
                            <span class="p-2 badge text-black rounded-0 border border-dark">All Services</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2 offset-md-0">
                    <div class="image-container my-5">
                        {% if service.image %}
                        <a href="{{ service.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ service.image.url }}" alt="{{ service.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ service.name }}">
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 text-center">
                    <div class="product-details-container mb-5 mt-md-5 pt-5">
                        <p class="mb-0 font-weight-bold text-black service-header">{{ service.name }}</p>
                        {% if service.category %}
                        <p class="small mt-1 mb-0">
                            <a class="category" href="{% url 'services' %}?category={{ service.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ service.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                        {% if service.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ service.rating }} / 5.0</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                        <p class="mt-3 text-black">{{ service.description }}</p>
                        
                        <p class="text-black">Book a service and a member of our team will be in touch</p>
                    </div>
                    <div class="row">
                        <div class="product-container col">
                            <form class="form" action="{% url 'add_to_booking' service.id %}" method="POST">
                                <!-- Django cross-site fraud protection which is required for the form to be submitted -->
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <a href="{% url 'services' %}" class="btn rounded-0">
                                            <span class="icon icon-red">
                                                <i class="far fa-arrow-alt-circle-left"></i>
                                            </span>
                                            <span class="text-uppercase text-black">Go Back</span>
                                        </a>
                                        <input type="submit" class="btn btn-black rounded-0 text-uppercase my-3" value="Add to Booking">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <h4 class="">
                                            <a href="{% url 'service_booking' %}" class="book-now-button btn btn-ls rounded-0 text-uppercase">Go to booking</a>
                                        </h4>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding-bottom"></div>
        </div>
{% endblock %}
